.appHeader {
    margin: 0 0 2em 0;
}
.appHeader .ui.inverted.segment {
    border-radius: 0;
}
.appFooter {
    margin: 1em 0;
}
.version {
    margin-left: 0.5em;
}
.appHeader .version {
    font-size: 50%;
}